import React from 'react'

import { {{pascalCase name}}Props } from './{{dashCase name}}.types'

export const {{pascalCase name}} = ({ dummyProp }: {{pascalCase name}}Props) => {
return
<div>Hello {{pascalCase name}}!</div>
}
